@import 'src/styles/variables';
@import 'src/styles/mixins';

.field {
    @include transition(border-color);
    background-color: $gray;
    border-radius: $radius;
    border: 1px solid transparent;
    padding: 12px 20px;
    margin-bottom: 1.3rem;
    display: block;

    input {
        width: 100%;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 10em $gray inset !important;
        -webkit-text-fill-color: white !important;
    }

    &:focus-within {
        border-color: rgba($primary, 0.5);
    }
}